

<h3><%= "#{@vehicle.customer.name}'s " "#{@vehicle.vehicle_description}" " - #{@vehicle.mileage} miles"%></h3>

<%= link_to "Edit Vehicle Info", edit_customer_vehicle_path(@vehicle) %>
<br>

<%= link_to "Schedule a Service Appointment", new_customer_vehicle_appointment_path(@customer, @vehicle, @appointment) %>
